body {
  
    /* background: rgb(2,0,36); */
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(40,217,150,0.9640231092436975) 14%, rgba(30,111,214,1) 98%);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
